@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="UserList" class="btn btn-success">Get User List</a>
<a asp-action="UserList" class="btn btn-success" 
asp-route-withtimelimit="true">Get User List With Time Limit</a>

